<div class=page>
  <h1 class='title-line'><%= @job.title %> at <%= link_to @company.name, company_path(@company) %></h1>
  <p class='title-line'><%= link_to "Edit", edit_job_path(@job) %></p>
  <p class='title-line'><%= link_to "Delete", job_path(@job), method: :delete %></p>

  <p>City: <%= @job.city %></p>

  <p>Level of Interest: <%= @job.level_of_interest %></p>

  <% if @job.description != ""%>
  <p>Description: <%= @job.description %></p>
  <% end %>
  <h3><%= link_to "See other #{@category.title} jobs", category_path(@category) %></h3>

  <br/><br/>
  Comments: <br/><br/>
  <%= form_for [@job, @comment] do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit %>
  <% end %><br/>

  <% @comments.each do |comment| %>
    <%= comment.content %>
    <%= comment.created_at %><br/><br/>
  <% end %>
</div>
