<h1>All Jobs for <strong><%= @company.name %></strong></h1>

<% @company.jobs.each do |job| %>
  <ul><%= link_to job.title, job_path(job) %></ul>
<% end %></br></br>

<%= form_for [@company, @contact] do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>

  <%= f.label :position %>
  <%= f.text_field :position %>

  <%= f.label :email%>
  <%= f.text_field :email%>

  <%= f.submit %>
<% end %><br/><br/>

<h3>Contacts</h3>
<ul>
  <% @company.contacts.each do |contact| %>
  <li> <%= contact.full_name  %></li>
  <li> <%= contact.position  %></li>
  <li> <%= contact.email  %></li>
  <% end %>
</ul></br>

<%= link_to '<< Back to Company List', companies_path %>
