<h1>Job Categories</h1>

<div>
  <% @categories.each do |category| %>
  <div class=category_<%= category.id %>>
    <%= link_to category.title, category_path(category) %>:
    <%= link_to "Edit", edit_category_path(category) %>
    <%= link_to "Delete", category_path(category), method: "delete" %>
  </div>
  <% end %>
</div>

<h4><%= link_to 'Create a New Category', new_category_path %></h4>
